{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://github.com/MHSiam1/Images/blob/main/favicon_main.png?raw=true" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/custom.css' %}">


    <title>{% block title %}{% endblock %} | BagrainBuddy</title>
</head>
<body>

<div id="main">
    <div id="nav">
        <a class="nlink magnet" href="/"><img src="https://github.com/MHSiam1/Images/blob/main/Buddy-removebg-preview.png?raw=true" alt=""></a> 
       
      <div class="right">
        <a class="nlink magnet" href="{% url 'item:new' %}">new item</a>
        <a class="nlink magnet" href="{% url 'item:items' %}">browse</a>

        {% if request.user.is_authenticated %}

        <a class="nlink magnet" href="#">inbox</a>           
        <a class="nlink magnet" href="{% url 'dashboard:index' %}">dashboard</a>  
        {% else %}
        <a class="nlink magnet" href="{% url 'core:login' %}">log in</a>           
        <a class="nlink magnet" href="{% url 'core:signup' %}">sing up</a>  
        {% endif %}         
      </div>
  </div>
  <div class="main_contenta">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer-maindiv">
    <div class="page5">
      <h1>Want to add ?<br>
        register or contact us
      </h1>
      <button class="magnet">TEXT US </button>
    </div>
  
    <div class="page6">
      <div class="page6-inner hvr">
        <h1>Twitter</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
      <div class="page6-inner hvr">
        <h1>LinkedIn</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
      <div class="page6-inner hvr">
        <h1>Instragram</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
      <div class="page6-inner hvr">
        <h1>WhatsApp</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
      <div class="page6-inner hvr">
        <h1>Facebook</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
      <div class="page6-inner hvr">
        <h1>Pinterest</h1>
        <i class="ri-arrow-right-up-line"></i>
        <div class="center6"></div>
      </div>
    </div>
  
    <div class="footer">     
      <div class="footer2">
       <h2>main office</h2>
       <h3>House16, Sector-11, Uttara, <br> Dhaka, Bangladesh</h3>
       <button class="magnet">infor@gmail.com</button>
      </div>
      <div class="footer3">
        <h2>second office</h2>
       <h3>Board Bazar, NU(1704), Gazipur,<br> Dhaka, Bangladesh</h3>
       <button class="magnet">+88012345678</button>
      </div>
    </div>
    <div class="bargainbuddy">
                  <h1>b</h1>
                  <h1>a</h1>
                  <h1>r</h1>
                  <h1>g</h1>
                  <h1>a</h1>
                  <h1>i</h1>
                  <h1>n</h1>
                  <h1>b</h1>
                  <h1>u</h1>
                  <h1>d</h1>
                  <h1>d</h1>
                  <h1>y</h1>
    </div>
    <div class="copyright">
      <h2>©2023 legal</h2>
     </div> 
  </div>
</div> 

<!-- gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<!-- Scroll Trigger is needed for Scroll Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
 <!-- ControlKit is needed for Debug Panel -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<!-- Three.js is needed for 3d Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
 <!--  SheryJs  -->
<script  type="text/javascript"  src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
<!-- custom css -->
    <script type="text/javascript" src="{% static 'core/js/custom.js' %}" defer></script>
</body>
</html>